<ion-view view-title="Status-Story">
<ion-content>
	<div class="row">
        <div class="card col col-50" ng-click="myalert()">
        <iframe ng-click="myalert()" width="100%" height="100%" src="https://www.youtube.com/embed/1yHp2q7iG3U?control=0&amp;fs=0&amp;mute=1&amp;autoplay=1"></iframe>
        </div>    
        <div class="card  col col-50">
            <iframe id="myframe" width="95%" height="60%" src="https://www.youtube.com/embed/1yHp2q7iG3U?rel=0&amp;showinfo=0&amp;fs=0&amp;mute=1&amp;autoplay=1"></iframe>
        </div>
	</div>
</ion-content>
</ion-view>