<ion-view view-title="Search">
  <ion-content>
  <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="img/ionic.png">
          <iframe id="myframe" width="100%" height="100%" src="https://www.youtube.com/embed/AUcrbVpgqpw?rel=0&amp;showinfo=0&amp;fs=0"></iframe>
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    </div>
    <div class="row">
        <div class="col col-50">
            <div class="card">
                <div class="">
                    <iframe id="myframe" width="100%" height="90px" src="https://www.youtube.com/embed/AUcrbVpgqpw?rel=0&amp;showinfo=0&amp;fs=0&amp;autoplay=1&amp;mute=1"></iframe>
                </div>
                <div class="item item-divider">
                I'm a Footer in a Card!
                </div>
            </div>
        </div>
        <div class="col col-50">
            <div class="card">
                <div class="">
                    <iframe id="myframe" width="100%" height="90px" src="https://www.youtube.com/embed/AUcrbVpgqpw?rel=0&amp;showinfo=0&amp;fs=0"></iframe>
                </div>
                <div class="item item-divider">
                I'm a Footer in a Card!
                </div>
            </div>
        </div>
        <div class="col col-50">
            <div class="card">
                <div class="">
                    <iframe id="myframe" width="100%" height="90px" src="https://www.youtube.com/embed/AUcrbVpgqpw?rel=0&amp;showinfo=0&amp;fs=0"></iframe>
                </div>
                <div class="item item-divider">
                I'm a Footer in a Card!
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <iframe id="myframe" width="100%" height="100%" src="https://www.youtube.com/embed/AUcrbVpgqpw?rel=0&amp;showinfo=0&amp;fs=0"></iframe>
        </div>
        <div class="item item-divider">
        I'm a Footer in a Card!
        </div>
    </div>
    <!-- <div class="card">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uz4cBk_uAPY?showinfo=0&amp;rel=0&fs=0&amp;color=white&amp;iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <p id="red">fsdfdfsgdf</p>
  </ion-content>
</ion-view>