<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
    <div class="card">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eXQ0CwW6_NE?modestbranding=1&rel=0&fs=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="card">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eXQ0CwW6_NE?showinfo=0&amp;rel=0&fs=0&amp;color=white&amp;iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="red">fsdfdfsgdf</p>
  </ion-content>
</ion-view>
